{% extends "base.html" %}

{% block content %}

    {% if next %}
        {% if user.is_authenticated %}
            <div class="alert alert-danger text-center" role="alert">
                您沒有權限造訪此頁面
            </div>
        {% else %}
            <div class="alert alert-primary text-center" role="alert">
                請先登入
            </div>
        {% endif %}
    {% endif %}
    <div class="row justify-content-center">

        <div class="col-xl-5 col-lg-5 col-md-5">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">登入</h1>
                                </div>
                                <form class="user" method="post" action="{% url 'login' %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user"
                                               id="{{ form.username.id_for_label }}" name="{{ form.username.name }}"
                                               aria-describedby="emailHelp"
                                               placeholder="{{ form.username.label }}">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user"
                                               id="{{ form.password.id_for_label }}" name="{{ form.password.name }}"
                                               placeholder="{{ form.password.label }}">
                                    </div>
                                    {% if form.errors %}
                                        <p>您的帳號或密碼輸入錯誤，請確認再試一次。</p>
                                    {% endif %}
                                    <input type="submit" class="btn btn-primary btn-user btn-block" value="登入">
                                    <input type="hidden" name="next" value="{{ next }}">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}