{% extends 'base.html' %}
{% block nav_title %}
    說明書
{% endblock %}
{% block page_title %}
    Audience Toolkits 族群訓練工具包
{% endblock %}
{% block page_description %}
    藉由此工具，您可以從0開始訓練一個屬於你的機器學習模型，並且進一步應用至OpView的族群標籤。
{% endblock %}
{% block content %}
    <div class="row mt-4 mb-2">
        <div class="col-lg-8 col-md-12 mb-4">

            <!-- card -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-secondary">什麼是Audience族群標籤</h6>
                </div>
                <div class="card-body">
                    <p>
                        Audience，aka族群，藉由透過網路上內容作者發布的內容，判斷其背後可能代表的族群類型。這邊假設網路內容可用的資訊如發文頻道、
                        發文作者名稱、發文內容等資訊，會透露出一些某些族群的特有資訊。目前支援可用的欄位名稱有「標題」、「內容」、「來源」、「來源網站」、「作者」。
                    </p>
                    <div class="alert alert-secondary" >
                        <h5 class="card-title">舉個例子</h5>
                        <p>在dcard討論區中，作者名稱有個固定的格式，可以拿來判斷發文者性別。例如「台灣大學/F」，其代表的涵意為「台灣大學的某位女生」，
                            可為其貼上女性的族群標籤。</p>
                    </div>
                    <div class="alert alert-secondary" >
                        <h5 class="card-title">再舉個例子</h5>
                        <p>在bbs論壇中，男性的使用者在發文的時候，有一個習慣是會以「小弟我...」作為句子開頭，以示禮貌。這個時候可藉由「小弟我...」
                            為開頭的關鍵字或規則，為其貼上男性的族群標籤。</p>
                    </div>
                </div>
                <div class="card-body">
                    <p>以上為藉由欄位的選擇與規則即可判斷的狀況，但若不是光靠規則可以判斷的狀況時，我們也可以藉由「監督式學習」的機器學習模型進行判斷，
                        只需提供足夠的「內容」與其代表的「族群標記」，即可讓機器自動尋找文章中的有用資訊，學習如何判斷文章可能帶有的族群標籤。</p>
                    <p>只要準備好模型，並可設定族群貼標任務，應用於您希望生效的資料範圍上。</p>
                </div>
            </div>

            <!-- card -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-secondary">如何製作族群標籤</h6>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Step 1.</h5>
                    <p>在這裡您可以建立、描述，並管理您想進行的資料標記任務，完成的標記任務可以在「模型訓練任務」中使用。</p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Step 1.</h5>
                    <p>在這裡您可以建立、描述，並管理您想進行的資料標記任務，完成的標記任務可以在「模型訓練任務」中使用。</p>
                    <h5 class="card-title">Step 1.</h5>
                    <p>在這裡您可以建立、描述，並管理您想進行的資料標記任務，完成的標記任務可以在「模型訓練任務」中使用。</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 md-4">
            <div class="col-12 mb-4">
                <h5>可用工具</h5>
                <p>此工具包將製作流程分為三種任務工具：</p>
                <!-- card -->
                <div class="card shadow h-100 py-2 mb-4">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-3">
                                <div class="font-weight-bold text-primary text-uppercase mb-1">
                                    資料標記任務
                                </div>
                                <div class="mb-0 text-gray-800 font-weight-light">
                                    在這裡您可以建立、描述，並管理您想進行的資料標記任務，完成的標記任務可以在「模型訓練任務」中使用。
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-tags fa-4x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- card -->
                <div class="card shadow h-100 py-2 mb-4">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-3">
                                <div class="font-weight-bold text-success text-uppercase mb-1">
                                    模型訓練任務
                                </div>
                                <div class="mb-0 text-gray-800 font-weight-light">
                                    在這裡您可以使用「資料標記任務」中完成的資料來建立、訓練，並驗證您的機器學習模型。
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-layer-group fa-4x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- card -->
                <div class="card shadow h-100 py-2 mb-4">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-3">
                                <div class="font-weight-bold text-info text-uppercase mb-1">
                                    族群貼標任務
                                </div>
                                <div class="mb-0 text-gray-800 font-weight-light">
                                    在這裡您可以藉由選擇「模型訓練任務」中您的模型，並挑選應用的資料範圍，建立族群貼標任務。
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-id-card fa-4x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}