{% extends 'base.html' %}
{% block nav_title %} 族群貼標任務 {% endblock %}
{% block page_title %}
    任務列表
{% endblock %}
{% block page_functions %}
    {% if user.is_staff %}
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <a class="ml-auto" href="{% url 'predicting_jobs:job-create' %}">建立新任務</a>
        </div>
    {% endif %}
{% endblock %}
{% block content %}
    <!-- predicting jobs -->
    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">任務名稱</th>
                    <th scope="col">任務描述</th>
                    <th scope="col">應用模型數</th>
                    <th scope="col">預測範圍數</th>
                    <th scope="col">建立者</th>
                    <th scope="col">建立時間</th>
                    <th scope="col">狀態</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for predicting_job in predicting_jobs %}
                    <tr>
                        <th scope="row">{{ predicting_job.id }}</th>
                        <td>{{ predicting_job.name }}</td>
                        <td>{{ predicting_job.description }}</td>
                        <td>{{ predicting_job.applyingmodel_set.count }}</td>
                        <td>{{ predicting_job.predictingtarget_set.count }}</td>
                        <td>{{ predicting_job.created_by }}</td>
                        <td>{{ predicting_job.created_at }}</td>
                        <td>{{ predicting_job.job_status }}</td>
                        <td><a href="{% url 'predicting_jobs:job-detail' predicting_job.id %}"
                               class="btn btn-link">檢視細節</a>
                        </td>
                        <td>
                            <form action="{% url 'predicting_jobs:job_start' predicting_job.id %}"
                                  method="post">
                                {% if predicting_job.job_status.upper == 'WAIT' %}
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-success">開始</button>
                                {% elif predicting_job.job_status.upper == 'DONE' %}
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-warning">重新預測</button>
                                {% elif predicting_job.job_status.upper == 'PROCESSING' %}
                                    <button type="button" disabled class="btn btn-primary disabled">處理中</button>
                                {% else %}
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">重試</button>
                                {% endif %}
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}