{% extends "base.html" %}

{% block title %}{{ labeling_job.name }} | 資料標記任務{% endblock %}
{% block nav_title %}資料標記任務{% endblock %}
{% block page_title %}{{ labeling_job.name }}{% endblock %}
{% block page_functions %}
    {% if user.is_staff %}
        <div class="dropdown mb-4">
            <button class="btn btn-primary dropdown-toggle" type="button"
                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                操作
            </button>
            <div class="dropdown-menu animated--fade-in"
                 aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item"
                   href="{% url 'labeling_jobs:upload-job-create' labeling_job.id %}?next={{ request.path }}">上傳檔案</a>
                <a class="dropdown-item"
                   href="{% url 'labeling_jobs:job-docs' labeling_job.id %}?next={{ request.path }}">文章列表</a>
                <a class="dropdown-item"
                   href="{% url 'labeling_jobs:job-docs' labeling_job.id %}?next={{ request.path }}">開始貼標</a>
                <a class="dropdown-item"
                   href="{% url 'labeling_jobs:job-update' labeling_job.id %}?next={{ request.path }}">修改</a>
                <a class="dropdown-item" href="{% url 'labeling_jobs:job-delete' labeling_job.id %}">刪除</a>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block page_info %}
    <div class="mb-2">
        <small><strong>{{ labeling_job.created_by }}</strong> created this job at
            <strong>{{ labeling_job.created_at }}</strong></small>
        {% if labeling_job.is_multi_label %}
            <span class="badge badge-success">多標籤</span>
        {% else %}
            <span class="badge badge-primary">單標籤</span>
        {% endif %}
    </div>
{% endblock %}
{% block page_description %}<p class="mb-4">{{ labeling_job.description }}</p>{% endblock %}
{% block content %}
    <!-- Content Row -->
    <div class="row">
        <!-- label summary card -->
        {% for label in labeling_job.label_set.all %}
            <div class="col-md-12 mb-4">
                <div class="card border-left-{% cycle 'primary' 'secondary' 'warning' 'info' 'success' 'danger' 'light' 'dark' as tag_color %} shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <i class="fas fa-tag fa-2x text-{{ tag_color }}"></i>
                            </div>
                            <div class="col ml-3">
                                <div class="h5 font-weight-bold text-{{ tag_color }} text-uppercase mb-1">
                                    <a href="#">{{ label.name }}</a>
                                </div>
                                <div class="mb-0 text-gray-800">{{ label.description }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        {% for upload_job in labeling_job.uploadfilejob_set.all %}
            <div class="col-lg-3 mb-4">
                <div class="card bg-light shadow">
                    <div class="card-body">
                        <div class="card-title">{{ upload_job.file.name }}</div>
                        <div class="text-gray small">
                            {{ upload_job.created_by }} uploaded at {{ upload_job.created_at }}
                        </div>
                        <div class="mt-2">
                            {% if upload_job.job_status == 'done' %}
                                <span class="badge badge-success">完成</span>
                            {% elif upload_job.job_status == 'processing' %}
                                <span class="badge badge-primary">處理中</span>
                            {% elif upload_job.job_status == 'wait' %}
                                <span class="badge badge-warning">等待中</span>
                            {% else %}
                                <span class="badge badge-danger">其他（{{ upload_job.job_status }}）</span>
                            {% endif %}
                        </div>
                        <div class="card-link mt-2">
                            <a href="{% url 'labeling_jobs:upload-job-delete' labeling_job.id upload_job.id %}">
                                刪除檔案</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}