{% extends "base.html" %}

{% block title %}資料標記任務{% endblock %}
{% block nav_title %}資料標記任務{% endblock %}
{% block page_title %}
    新增/編輯標記任務
{% endblock %}
{% block page_description %}
    <p>請盡量描述標記任務的定義與細節。</p>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="card o-hidden">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="p-5">
                                <form method="post" class="">{% csrf_token %}
                                    {{ error }}
                                    {{ form.as_p }}
                                    <input type="hidden" name="next" value="{{ next }}">
                                    <input type="submit" class="btn btn-primary" value="送出">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="h5"><span class="badge badge-success">監督式學習模型</span></div>
            <p>藉由帶有標籤的文本資料，讓機器自動學習文本中重要的特徵，此類型的資料必要欄位為：</p>
            <ul>
                <li>OpView下載的資料欄位</li>
                <li>標籤欄位</li>
            </ul>
            <small><a href="https://zh.wikipedia.org/wiki/监督学习" target="_blank">wiki</a></small>
            <hr>
            <div class="h5"><span class="badge badge-primary">關鍵字規則模型</span></div>
            <p>藉由關鍵字比對文本內容，可設定「開頭」、「結尾」、「部分命中」以及「完全一致」比對內容，例如可用於比對來源、作者名稱等應用，必要欄位為：</p>
            <ul>
                <li>關鍵字</li>
                <li>比對方式</li>
                <li>標籤欄位</li>
            </ul>
            <hr>
            <div class="h5"><span class="badge badge-secondary">正則表達式模型</span></div>
            <p>藉由正則表達式（regex）比對文本內容，屬於較進階的規則比對方法，此類型的資料必要欄位為：</p>
            <ul>
                <li>regex規則式</li>
                <li>標籤欄位</li>
            </ul>
            <small><a href="https://zh.wikipedia.org/wiki/正则表达式" target="_blank">wiki</a></small>
        </div>
    </div>
{% endblock %}