{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | Audience Toolkits{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">Audience Toolkits</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
{% block userlinks %}
    {% if site_url %}
        <a href="{% url 'home:index' %}">{% translate 'View site' %}</a> /
    {% endif %}
    {% if user.is_active and user.is_staff %}
        {% url 'django-admindocs-docroot' as docsroot %}
        {% if docsroot %}
            <a href="{{ docsroot }}">{% translate 'Documentation' %}</a> /
        {% endif %}
    {% endif %}
    {% if user.has_usable_password %}
        <a href="{% url 'admin:password_change' %}">{% translate 'Change password' %}</a> /
    {% endif %}
    <a href="{% url 'admin:logout' %}">{% translate 'Log out' %}</a>
{% endblock %}