{% extends "base.html" %}

{% block title %}{{ predicting_job.name }} | 族群貼標任務{% endblock %}
{% block nav_title %}族群貼標任務{% endblock %}
{% block page_title %}{{ predicting_job.name }}{% endblock %}
{% block page_functions %}
    {% if user.is_staff %}
        <div class="btn-group" role="group" aria-label="predicting job functions">
            <button type="button" class="btn btn-sm btn-secondary"
                    id="run-job-btn-{{ predicting_job.id }}"
                    onclick="run_job({{ predicting_job.id }},'{% url 'predicting_jobs:job_start' predicting_job.id %}')">
                開始貼標
            </button>

            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-secondary dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    操作
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item"
                       href="{% url 'predicting_jobs:job-update' predicting_job.id %}?next={{ request.path }}">修改</a>
                    <a class="dropdown-item" href="{% url 'predicting_jobs:job-delete' predicting_job.id %}">刪除</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block page_info %}

    <span id="state-{{ predicting_job.id }}"></span>
    <div class="mb-2">
        <small><strong>{{ predicting_job.created_by }}</strong> created this job at
            <strong>{{ predicting_job.created_at }}</strong></small>
    </div>
{% endblock %}
{% block page_description %}<p class="mb-4">{{ predicting_job.description }}</p>{% endblock %}
{% block content %}
    <!-- Content Row -->
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header">應用模型列表</div>
                <div class="card-body">
                    <div class="card-link mb-4"><a
                            href="{% url 'predicting_jobs:job-applying-model-add' predicting_job.id %}">新增模型</a></div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">模型名稱</th>
                                <th scope="col">模型類型</th>
                                <th scope="col">優先度</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for applying_model in predicting_job.applyingmodel_set.all %}
                                {% with modeling_job=applying_model.modeling_job %}
                                    <tr>
                                    <th scope="row">{{ applying_model.id }}</th>
                                    <td>
                                        <a href="{% url 'modeling_jobs:job-detail' modeling_job.id %}">{{ modeling_job.name }}</a>
                                    </td>
                                    <td>{{ modeling_job.get_model_type_display }}</td>
                                    <td>{{ applying_model.priority }}</td>
                                    <td>
                                        <div class="btn-group" role="group">
                                            <button id="btnGroupDrop1" type="button"
                                                    class="btn btn-secondary dropdown-toggle btn-sm"
                                                    data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                                                操作
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                <a href="{% url 'predicting_jobs:job-applying-model-update' predicting_job.id applying_model.id %}"
                                                   class="dropdown-item">修改</a>
                                                <a href="{% url 'predicting_jobs:job-applying-model-delete' predicting_job.id applying_model.id %}"
                                                   class="dropdown-item">刪除</a>
                                            </div>
                                        </div>
                                    </td>
                                {% endwith %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header">預測資料範圍列表</div>
                <div class="card-body">
                    <div class="card-link mb-4">
                        <a href="{% url 'predicting_jobs:job-target-add' predicting_job.id %}?next={{ request.path }}">新增資料範圍</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">資料範圍名稱</th>
                                <th scope="col">資料源</th>
                                <th scope="col">時間範圍</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for target in predicting_job.predictingtarget_set.all %}
                                <tr>
                                <th scope="row">{{ target.id }}</th>
                                <td>{{ target.name }}</td>
                                <td>{{ target.source.name }}</td>
                                <td>{{ target.begin_post_time }}<br>~<br>{{ target.end_post_time }}</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <button id="btnGroupDrop1" type="button"
                                                class="btn btn-secondary dropdown-toggle btn-sm" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            操作
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                            <a href="{% url 'predicting_jobs:job-target-update' predicting_job.id target.id %}"
                                               class="dropdown-item">修改</a>
                                            <a href="{% url 'predicting_jobs:job-target-delete' predicting_job.id target.id %}"
                                               class="dropdown-item">刪除</a>
                                        </div>
                                    </div>
                                </td>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- label summary card -->

    </div>

{% endblock %}

{% block custom_script %}
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        });

        function run_job(job_id, run_job_url) {
            set_row_processing_display(job_id)
            $.post(run_job_url)
        }

        function showResult(modeling_job_id) {
            var aj = $.ajax({
                url: 'show_result',
                data: {
                    modeling_job_id: modeling_job_id,
                },
                type: 'post',
                success: function (result) {
                    console.log("Done")
                }
            })
        }

        function set_row_done_display(job_id) {
            $('#state-' + job_id).text("完成")
            $('#train-btn-' + job_id)
                .text("重新訓練")
                .removeClass("disabled")
            $('#test-btn-' + job_id).attr("hidden", false)
        }

        function set_row_processing_display(job_id) {
            $('#state-' + job_id).text("處理中")
            $('#train-btn-' + job_id)
                .text("訓練中")
                .addClass("disabled")
            $('#test-btn-' + job_id).attr("hidden", true)
        }

        function set_row_wait_display(job_id) {
            $('#state-' + job_id).text("等待中")
            $('#train-btn-' + job_id)
                .text("開始訓練")
                .removeClass("disabled")
            $('#test-btn-' + job_id).attr("hidden", true)
        }

        function set_row_error_display(job_id) {
            $('#state-' + job_id).text("錯誤")
            $('#train-btn-' + job_id).text("重試")
                .removeClass("disabled")
            $('#test-btn-' + job_id).attr("hidden", true)
        }

        function get_progress(url) {
            return $.get({
                url: url
            })
        }

        function update_progress(job_id, url) {
            {#var state = "wait"#}
            get_progress(url).done(function (result) {
                let timeout = 10000
                console.log(result)
                let state = result.state
                let elem_id = '#state-' + job_id
                console.log(elem_id)
                $(elem_id).text(state)
                switch (state) {
                    case 'done':
                        set_row_done_display(job_id)
                        break
                    case 'wait':
                        set_row_wait_display(job_id)
                        break
                    case 'processing':
                        timeout = 1000
                        set_row_processing_display(job_id)
                        break
                    default:
                        console.log(state)
                        set_row_error_display(job_id)
                }
                setTimeout(function () {
                    {#console.log(url)#}
                    update_progress(job_id, url)
                }, timeout);
            });
        }

        update_progress({{ predicting_job.id }}, "{% url 'predicting_jobs:api-job-progress' predicting_job.id %}")

    </script>
{% endblock %}