{% extends "base.html" %}

{% block title %}資料準備任務|範例資料{% endblock %}
{% block nav_title %}範例資料{% endblock %}
{% block page_title %}範例資料列表{% endblock %}
{% block page_description %}
    <p>此部分可以設定
        <span class="badge badge-success">監督式學習模型</span> 、
        <span class="badge badge-primary">關鍵字規則模型</span> 、
        <span class="badge badge-info">正則表達式模型</span> 與
        <span class="badge badge-secondary">關鍵字權重模型</span>
        相關任務資料，並應用於後續的 <a href="{% url 'modeling_jobs:index' %}">模型建立任務</a>中。</p>
{% endblock %}
{% block page_functions %}
    {% if user.is_staff %}
    {% endif %}
{% endblock %}
{% block content %}
    {% for sample_data in sampledata_list %}
        <a href="{% url 'labeling_jobs:download-sample-data' sample_data.id %}">{{ sample_data.get_file_name }}</a>
    {% endfor %}
    <div class="col-12 m-4 pagination justify-content-center">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}{% if current_label %}&label_name={{ current_label }}{% endif %}">上一頁</a>
                {% endif %}

                <span class="current">
                     {{ page_obj.number }} / {{ paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}{% if current_label %}&label_name={{ current_label }}{% endif %}">下一頁</a>
                {% endif %}
            </span>
    </div>
    <div class="row">
        <div class="col-10">
            <div class="list-group">
                {% for row in sampledata_list %}
                    <div class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ row.job_data_type }}</h5>
                            <small>{{ row.created_at }}</small>
                        </div>
                        <small>#{{ row.id }} - {{ row.name }}, {{ row.get_file_name }}</small>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-2">
            <div class="list-group">
                    <a href="{% url 'labeling_jobs:sample-data-list' %}"
                       class="list-group-item list-group-item-action {% if not current_data_type %}active{% endif %}"
                       aria-current="true">
                       全部
                    </a>
                {% for data_type in data_types %}
                    <a href="{% url 'labeling_jobs:sample-data-list' %}?data_type={{ data_type }} "
                       class="list-group-item list-group-item-action {% if data_type == current_data_type %}active{% endif %}"
                       aria-current="true">
                        {{ data_type.label }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-12 m-4 pagination justify-content-center">
            <span class="step-links">
                {% if sa.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}{% if current_label %}&label_name={{ current_label }}{% endif %}">上一頁</a>
                {% endif %}

                <span class="current">
                     {{ page_obj.number }} / {{ paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}{% if current_label %}&label_name={{ current_label }}{% endif %}">下一頁</a>
                {% endif %}
            </span>
    </div>
{% endblock %}