<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- anywhere on the page -->
<div id="app">
    <div v-for="(job) in jobs" :key="job.id">
        [[ job ]]
    </div>
    <p>[[ data ]]</p>
</div>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@next"></script>
<script>

    const Jobs = {
        data() {
            return {
                counter: 0,
                data: ''
            }
        },
        mounted() {
            setInterval(() => {
                this.counter++
            }, 1000)
            this.getJobs()
        },
        computed: {
            jobs() {
                return this.data.results
            }
        },
        methods: {
            async getJobs() {
                const response = await axios.get('http://127.0.0.1:8000/audience/labeling_jobs/apis/jobs')
                this.data = await response.data
            }
        }
    }
    const app = Vue.createApp(Jobs)
    app.config.compilerOptions.delimiters = ['[[', ']]']
    app.mount('#app')

</script>
</html>