{% extends "base.html" %}

{% block title %}{{ labeling_job.name }} | 資料準備任務{% endblock %}
{% block nav_title %}{{ labeling_job.get_job_data_type_display }}{% endblock %}
{% block page_title %}{{ labeling_job.name }}{% endblock %}
{% block page_functions %}
    {% if user.is_staff %}
        <div class="dropdown mb-4">
            <button class="btn btn-primary dropdown-toggle" type="button"
                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                操作
            </button>
            <div class="dropdown-menu animated--fade-in"
                 aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item"
                   href="{% url 'labeling_jobs:upload-job-create' labeling_job.id %}?next={{ request.path }}">上傳規則</a>
                <a class="dropdown-item" href="" data-toggle="modal" data-target="#exampleModal">修改</a>
                <a class="dropdown-item" href="{% url 'labeling_jobs:job-delete' labeling_job.id %}">刪除</a>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block page_info %}
    <div class="mb-2">
        <small><strong>{{ labeling_job.created_by }}</strong> created this job at
            <strong>{{ labeling_job.created_at }}</strong></small>
    </div>
{% endblock %}
{% block page_description %}<p class="mb-4">{{ labeling_job.description }}</p>{% endblock %}
{% block content %}
    <div class="row mb-4">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                資料類型
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {{ labeling_job.get_job_data_type_display }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                標籤類別數量
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ labeling_job.label_set.count }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                規則數量
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ labeling_job.rule_set.count }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-8 mb-4">

            <!-- label list -->
            <div class="row mb-4">
                <div class="col-lg-12">
                    <div class="d-flex justify-content-between">
                        <h6 class="h5">標籤列表</h6>
                        <span class="card-link">
                <a href="" data-toggle="modal" data-target="#labelFormModal" class="btn btn-sm btn-outline-secondary ml-2">新增標籤</a>
                <a href="" data-toggle="modal" data-target="#ruleFormModal" class="btn btn-sm btn-outline-primary ml-2">新增規則</a>
                        </span>
                    </div>
                    <hr>
                </div>
                {% for label in labeling_job.label_set.all %}
                    <div class="col-lg-6 mb-4">
                        <div class="card shadow">
                            <div class="card-body">
                                <div class="h5 d-flex justify-content-start text-{% cycle 'primary' 'secondary' 'warning' 'info' 'success' 'danger' 'light' 'dark' as tag_color %}">{{ label.name }}</div>
                                <div class="text-secondary small">
                                    {% if label.description %}{{ label.description }}{% else %}
                                        請按編輯添加標籤說明。{% endif %}</div>
                                <span class="d-flex justify-content-end">
                                        <a class="btn btn-link text-info btn-sm ml-2"
                                           href="{% url 'labeling_jobs:label-detail' labeling_job.id label.id %}">規則列表</a>
                                        <a class="btn btn-link text-secondary btn-sm ml-2"
                                           href="{% url 'labeling_jobs:label-update' labeling_job.id label.id %}">編輯</a>
                                        <a class="btn btn-link text-danger btn-sm ml-2"
                                           href="{% url 'labeling_jobs:label-delete' labeling_job.id label.id %}">刪除</a>
                                </span>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="col-lg-6 mb-4">
                        沒有設定標籤
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-lg-4 mb-4">
            <div class="row">
                <div class="col-lg-12">
                    <div class="h5">檔案上傳紀錄</div>
                    <hr>
                </div>
                {% for upload_job in labeling_job.uploadfilejob_set.all %}
                    <div class="col-lg-12 mb-4">
                        <div class="card bg-light shadow">
                            <div class="card-body">
                                <div class="card-title">{{ upload_job.file.name }}</div>
                                <div class="text-gray small">
                                    {{ upload_job.created_by }} uploaded at {{ upload_job.created_at }}
                                </div>
                                <div class="mt-2">
                                    {% if upload_job.job_status == 'done' %}
                                        <span class="badge badge-success">完成</span>
                                    {% elif upload_job.job_status == 'processing' %}
                                        <span class="badge badge-primary">處理中</span>
                                    {% elif upload_job.job_status == 'wait' %}
                                        <span class="badge badge-warning">等待中</span>
                                    {% else %}
                                        <span class="badge badge-danger">錯誤({{ upload_job.job_status }}）</span>
                                    {% endif %}
                                </div>
                                <div class="card-link mt-2">
                                    <a href="{% url 'labeling_jobs:upload-job-delete' labeling_job.id upload_job.id %}">
                                        清除此紀錄</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="col-lg-12">
                        沒有上傳紀錄
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">修改任務資訊</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" class="">{% csrf_token %}
                    <div class="modal-body">
                        {{ error }}
                        {{ form.as_p }}
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="next" value="{{ next }}">
                        <input type="submit" class="btn btn-primary" value="送出">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- label create Modal -->
    <div class="modal fade" id="labelFormModal" tabindex="-1" aria-labelledby="labelFormModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="labelFormModalLabel">新增標籤</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="{% url 'labeling_jobs:label-add' labeling_job.id %}">{% csrf_token %}
                    <div class="modal-body">
                        {{ error }}
                        {% for field in label_form %}
                            <div class="form-group">
                                {% if field.name != 'target_amount' %}
                                    {{ field.label_tag }}
                                    {{ field }}
                                    {{ field.errors }}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="next" value="{{ next }}">
                        <input type="submit" class="btn btn-primary" value="送出">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- rule create Modal -->
    <div class="modal fade" id="ruleFormModal" tabindex="-1" aria-labelledby="ruleFormModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ruleFormModalLabel">新增規則</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="{% url 'labeling_jobs:rule-add' labeling_job.id %}">{% csrf_token %}
                    <div class="modal-body">
                        {{ error }}
                        {% for field in rule_form %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {{ field }}
                                {{ field.errors }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="next" value="{{ next }}">
                        <input type="submit" class="btn btn-primary" value="送出">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}