{% extends 'base.html' %}
{% load result_extras %}
{% block nav_title %} 資料整備任務 {% endblock %}
{% block page_title %}
    任務列表
{% endblock %}
{% block page_functions %}
    {% if user.is_staff %}
        <div class="d-sm-flex align-items-center justify-content-between mb-3">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#jobCreateModal">
                建立新任務
            </button>
        </div>
    {% endif %}
{% endblock %}
{% block content %}

    <!--main-->
    <div class="row">
        <div class="col-lg-9">
            <div class="card shadow">
                <div class="card-body py-4">
                    <table class="table" id="job-table">
                        <thead class="thead-light">
                        <tr>
{#                            <th>id</th>#}
{#                            <th scope="col">任務編號</th>#}
                            <th scope="col">任務名稱</th>
{#                            <th scope="col">任務簡述</th>#}
                            <th scope="col">任務類型</th>
{#                            <th scope="col">標籤類型</th>#}
                            <th scope="col">建立時間</th>
                            <th scope="col">更新時間</th>
{#                            <th scope="col">建立者</th>#}
                        </tr>
                        </thead>
                        <tbody>
                        {% for job in documenting_jobs %}
                            <tr>
{#                                <td>{{ job.task_id }}</td>#}
                                <td><a href="{% url 'documenting_jobs:job-detail' job.task_id %}">{{ job.name }}</a></td>
{#                                <td>{{ job.name }}</td>#}
                                <td>{{ job.task_type }}</td>
                                <td>{{ job.create_time }}</td>
                                <td>{{ job.update_time|date:"SHORT_DATE_FORMAT" }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <!-- Modal -->
    <div class="col-lg-3">
        <h4>資料整備流程</h4>
        <p>
            資料整備任務類型共分為:
        </p>
        <ul>
            <li>機器學習 (machine_learning_task)</li>
            <li>規則模型 (rule_task)</li>
        </ul>
        <div class="card shadow mb-2">
            <div class="card-body">
                <div class="card-title font-weight-bold">機器學習模型資料</div>
                <p>建立任務請選擇 機器學習模型資料</p>
                <p>請至少準備以下類型資料集:</p>
                <ul>
                    <li>訓練資料(train)</li>
                    <li>驗證資料(dev)</li>
                    <li>測試資料(test)</li>
                </ul>
                <p>上傳資料欄位(紅字為必要欄位):</p>
                <ul>
                    <li>title</li>
                    <li>author</li>
                    <li>s_id</li>
                    <li>s_area_id</li>
                    <li style="color: red">content</li>
                    <li>post_time</li>
                    <li style="color: red">label</li>
                    <li style="color: red">document_type
                    <ul>
                        <li>train</li>
                        <li>dev</li>
                        <li>test</li>
                        <li>ext_test</li>
                    </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card shadow mb-2">
            <div class="card-body">
                <div class="card-title font-weight-bold">規則模型資料</div>
                <p>建立任務請選擇 規則模型資料</p>
                <p>上傳資料欄位(所有欄位均為必要欄位):</p>
                <ul>
                    <li>content</li>
                    <li>label</li>
                    <li>rule_type
                    <ul>
                        <li>keyword</li>
                        <li>regex</li>
                    </ul>
                    </li>
                    <li>match_type
                    <ul>
                        <li>start</li>
                        <li>end</li>
                        <li>partially</li>
                        <li>exactly</li>
                    </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal fade" id="jobCreateModal" tabindex="-1" aria-labelledby="jobCreateModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="jobCreateModalLabel">建立任務</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" class=""
                      action="{% url 'documenting_jobs:doc-add' %}">{% csrf_token %}
                    <div class="modal-body">
                        {% csrf_token %}
                        {{ form }}
{#                        {{ error }}#}
{#                        {% for field in form %}#}
{#                            <div class="form-group">#}
{#                                {{ field.label_tag }}#}
{#                                {{ field }}#}
{#                                {{ field.errors }}#}
{#                            </div>#}
{#                        {% endfor %}#}
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="next" value="{{ next }}">
                        <input type="submit" class="btn btn-primary" value="送出">
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block custom_script %}
    <script>
        $.fn.dataTableExt.sErrMode = 'throw'
        $(document).ready(function () {
            $('#job-table').DataTable()
        })

    </script>
{% endblock %}
